body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.petitesImages img {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 5px;
}

.petitesImages {
    overflow-y: scroll;
}

.contain {
    display: flex;
    width: 80%;
    height: 600px;
    background-color: aqua;
}

.imagePrincipale {
    overflow: hidden;
    width: 450px;
    height: 450px;
    object-fit: contain;
}

.imagePrincipale img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.blocImages {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
}

.bas {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.fas {
    font-size: 40px;
}